name: Build and Publish Papst.EventStore

on:
  push:
    branches: 
      - main

jobs:
  build-and-publish-contracts:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '10.x' 

    - name: Setup Nerdbank.GitVersioning
      run: dotnet tool install -g nbgv

    - name: Use Nerdbank.GitVersioning to get version
      run: nbgv get-version

    - name: Build Contracts
      run: dotnet build --configuration Release Papst.EventStore.Contracts.slnx

    - name: Run tests for Contracts
      run: dotnet test --no-build --verbosity normal --configuration Release Papst.EventStore.Contracts.slnx

    - name: Pack Papst.EventStore project
      run: dotnet pack src/Papst.EventStore/Papst.EventStore.csproj --no-build --configuration Release --output ./artifacts.contracts

    - name: Pack Papst.EventStore.EventRegistration project
      run: dotnet pack src/Papst.EventStore.Aggregation.EventRegistration/Papst.EventStore.Aggregation.EventRegistration.csproj --no-build --configuration Release --output ./artifacts.contracts

    - name: Pack Papst.EventStore.CodeGeneration project
      run: dotnet pack src/Papst.EventStore.CodeGeneration/Papst.EventStore.CodeGeneration.csproj --no-build --configuration Release --output ./artifacts.contracts

    - name: Publish Contracts to NuGet
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_APIKEY }}
      run: dotnet nuget push ./artifacts.contracts/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_APIKEY }}

  build-and-publish-stores:
    runs-on: ubuntu-latest
    needs: build-and-publish-contracts
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1

    steps:
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '10.x' 

    - name: Setup Nerdbank.GitVersioning
      run: dotnet tool install -g nbgv

    - name: Use Nerdbank.GitVersioning to get version
      run: nbgv get-version

    - name: Build Contracts
      run: dotnet build --configuration Release Papst.EventStore.Stores.slnx

    - name: Run tests for Contracts
      run: dotnet test --no-build --verbosity normal --configuration Release Papst.EventStore.Stores.slnx
    - name: Pack Papst.EventStore.AzureCosmos project
      run: dotnet pack src/Papst.EventStore.AzureCosmos/Papst.EventStore.AzureCosmos.csproj --no-build --configuration Release --output ./artifacts

    - name: Pack Papst.EventStore.EntityFrameworkCore project
      run: dotnet pack src/Papst.EventStore.EntityFrameworkCore/Papst.EventStore.EntityFrameworkCore.csproj --no-build --configuration Release --output ./artifacts

    - name: Pack Papst.EventStore.FileSystem project
      run: dotnet pack src/Papst.EventStore.FileSystem/Papst.EventStore.FileSystem.csproj --no-build --configuration Release --output ./artifacts
      
    - name: Pack Papst.EventStore.InMemory project
      run: dotnet pack src/Papst.EventStore.InMemory/Papst.EventStore.InMemory.csproj --no-build --configuration Release --output ./artifacts


    - name: Publish Stores to NuGet
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_APIKEY }}
      run: dotnet nuget push ./artifacts/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_APIKEY }}
