name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '10.x'

    - name: Build
      run: dotnet build --configuration Debug Papst.EventStore.slnx

    - name: Run tests
      run: dotnet test --no-build --verbosity normal --configuration Debug Papst.EventStore.slnx
